{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}Template{% endblock %}

{% block content %}
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>     
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/home">fusion-purple</a>
            </div>
                                                
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Home <span class="sr-only">(current)</span>
                        </a></li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <form method="POST" action="/submit">
    <div class="container">
        <div class="form-group">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>
        <div class="form-group">
                <div class="input-group col-md-4 col-md-offset-4">
                    <label for="primary_activity">Primary Activity</label>
                </div>
                <div class="input-group col-md-4 col-md-offset-4">
                    <input type="text" name="primary_activity" id="primary_activity" class="form-control" placeholder="primary_activity" aria-label="primary_activity">
                </div>
        </div>
        <div class="form-group">
                <div class="input-group col-md-4 col-md-offset-4">
                    <label for="location">Location (Zip-code)</label>
                </div>
                <div class="input-group col-md-4 col-md-offset-4">
                    <input type="number" name="location" id="location" class="form-control" placeholder="19087" aria-label="location" min="00000" max="99999">
                    <span class="input-group-addon">US only</span>
                </div>
        </div>
        <div class="form-group">
                <div class="input-group col-md-4 col-md-offset-4">
                    <label for="building_area">Building Area</label>
                </div>
                <div class="input-group col-md-4 col-md-offset-4">
                    <input type="number" name="building_area" id="building_area" class="form-control" placeholder="10,000" aria-label="building_area">
                    <span class="input-group-addon">sq ft</span>
                    
                </div>
        </div>
       <div class="form-group">
                <div class="input-group col-md-4 col-md-offset-4">
                    <label for="energy_rate">Energy Rate</label>
                </div>
                <div class="input-group col-md-4 col-md-offset-4">
                    <div class="input-group-addon">$</div>
                    <input type="number" name="energy_rate" id="energy_rate" class="form-control" placeholder="0.12" aria-label="energy_rate" min=0>
                    <span class="input-group-addon">per kWh</span>
                </div>
        </div>
        <div class="form-group">
                <div class="input-group col-md-4 col-md-offset-4">
                    <input class="btn btn-success" type="submit" value="Submit">
                </div>
            </div>
        </div>

        </form>
        
        <div class="container">
            <div id="nukes" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    
    <!-- Charts -->
    <script src="{{ url_for('static', filename='charts/nukes.js') }}"></script>
  
    </body>
{% endblock %}