<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <!-- HTML/Responsive Setup -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/dist/css/bootstrap.css">

        <!-- HighCharts -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename="custom.css") }}">

        <title>{% block title %}{% endblock %} | gradr</title>
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>