<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.WvMHWFyG5iM.O/m=signin2/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCOrdJF8aJ2Vv4z0CCIBbLlqwVP8mQ/cb=gapi.loaded_0"
            async=""></script>
    <script src="https://apis.google.com/js/platform.js" async="" defer="" gapi_processed="true"></script>

    <title>Gradr | login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" action="/home">
            <input type="text" placeholder="username" required/>
            <input type="password" placeholder="password" required/>
            <button type="submit" value="login">login</button>
        </form>
        <p>or</p>
        <div class="container-fluid">
            <center>
                <div class="g-signin2" data-onsuccess="onSuccess" data-gapiscan="true" data-onload="true">
                    <div style="height:36px;width:120px;" class="abcRioButton abcRioButtonLightBlue">
                        <div class="abcRioButtonContentWrapper">
                            <div class="abcRioButtonIcon" style="padding:8px">
                                <div style="width:18px;height:18px;"
                                     class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"
                                         viewBox="0 0 48 48" class="abcRioButtonSvg">
                                        <g>
                                            <path fill="#EA4335"
                                                  d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                                            <path fill="#4285F4"
                                                  d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                                            <path fill="#FBBC05"
                                                  d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                                            <path fill="#34A853"
                                                  d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                                            <path fill="none" d="M0 0h48v48H0z"></path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <span style="font-size:13px;line-height:34px;" class="abcRioButtonContents"><span
                                    id="not_signed_ink2tvf9pypl1q">Sign in</span><span id="connectedk2tvf9pypl1q"
                                                                                       style="display:none">Signed in</span></span>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>

</div>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="{{ url_for('static', filename='login.js') }}"></script>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1923190251301545',
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>
