{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}Stats{% endblock %}

{% block content %}

    <body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/"> Gradr</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/view_database">View Database</a>
                    </li>
                    <li class="active">
                        <a href="/stats"><span class="sr-only">(current)</span> Stats</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center col-lg-12">
        <div class="well well-sm">
            <h1>Grade Statistics</h1>

            {% if homework_avg %}
                <p><strong>Homework Mean: </strong>{{ homework_avg }}%</p>
            {% endif %}

            {% if quiz_avg %}
                <p><strong>Quiz Mean: </strong>{{ quiz_avg }}%</p>
            {% endif %}

            {% if exam_avg %}
                <p><strong>Exam Mean: </strong>{{ exam_avg }}%</p>
            {% endif %}

            {% if homework_avg %}
                {% if quiz_avg %}
                    {% if exam_avg %}
                        <p class="lead"><strong>Weighted Average: </strong>{{ weighted_avg }}%</p>
                    {% endif %}
                {% endif %}
            {% endif %}
            <p>
                <small> *weighted average only calculated if all assignment categories are being tracked*</small>
            </p>
        </div>
    </div>

    {#    <!-- Chart Containers -->#}
    {#    <div class="container">#}
    {#        <div id="cool" style="min-width: 400px; height: 310px; margin: 0 auto"></div>#}
    {#    </div>#}

    <div class="center">
        <div style="width: 300px; height: 400px; margin: 0 auto">
            <div id="container-speed" style="width: 300px; height: 200px; float: left"></div>
        </div>
    </div>

    <!-- Charts -->
    <script src="{{ url_for('static', filename='charts/peer-comparison.js') }}" var_weighted_average={{ weighted_avg }}></script>
    {#    <script src="{{ url_for('static', filename='charts/cool.js') }}"></script>#}


{% endblock %}